.Home{
 max-width: 1300px;
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
 background-color: gray;
 align-items: center;
 align-content: center;
 justify-content: center;
}
.Product{
 display: flex;
 background-color: #fff;
 z-index: 1;
 padding: 10px;
 background-color: gray;
}
@media(max-width:500px){
 .Product{
 flex-direction: column;
 width: 300px;
 }
}